.homebar:hover{
    scale: 1.2;
}
.hcard:hover{
    scale: 1.1;
    background-color:rgba(108,117,125,1);
    color: aliceblue;
    
}
.hcards:hover{
    scale: 1.05;
    background-color:rgba(108,117,125,1);
    color: aliceblue;
    
}
.name:hover{
    color: black;
    
}
.content:hover{
    scale: 1.1;
}